*{
    box-sizing: border-box;
}
body{
    background-image: url('/test/src/bg.png');
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    // &:after{
    //     content: "";
    //     position: absolute;
    //     bottom: 0;
    //     height: 30vh;
    //     width: 100%;
    //     background: rgba(0, 0, 0, 0.3);
    //     z-index: -1;
    // }
    font-family: "Open Sans Hebrew", sans-serif;
}
.mob_product-image{
    display: none;
}
.product-image{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 35%;
    img{
        width: 100%;
    height: auto;
    }
}
.center-text{
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -14vw;
    left: 0;
    display: block;
    width: 39vw;
    height: auto;
    max-height: 40vh;
    /* background: rebeccapurple; */
    color: #fff;
    text-align: center;
    .yellow-text{
        font-size: 51px;
        letter-spacing: -1px;
        line-height: 1;
        color: #ffea01;
        font-weight: bold;
        // font-family: "Open Sans Hebrew";
        font-weight: 600;
    }
    .w-big-text{
        font-size: 69px;
        // font-family: "Open Sans Hebrew";
        font-weight: 600;
        line-height: 1;
        margin-top: -20px;
        letter-spacing: -1px;
    }
    .bottom-text{
        padding: 10px 20px;
        border-top: 2px solid #fff;
        p{
            font-size: 44px;
            line-height: 1;
        }
    }
}
.icons-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* form css */
.form-wrapper{
    height: 100Vh;
    padding: 87px 73px;
    background: #43434d;
    width: 100%;
    max-width: 551px;;
    margin-left: 2vw;
    z-index: 9;
    direction: rtl;
    .logo{
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    h2,p,div{
        color: #fff;
        width: 100%;
        line-height: 1;
        margin: 0;
        padding: 0;
        text-align: center;
    }
}
form{
    display: flex;
    flex-wrap: wrap;
    .form-row.mb-4{
        margin-bottom: 11px!important;
    }
    input[type=submit]{
        // background: yellow;
        // padding: 20px;
        // border-radius: 10px;
        // background: -webkit-linear-gradient(top, #fce700 0%,#ffffff 100%);
        // background: linear-gradient(to bottom, #fce700 0%,#ffffff 100%);
        // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fce700', endColorstr='#ffffff',GradientType=0 );
        // border: none;
        // font-size: 30px;
        // position: relative;
        width: 100%;
        background-image: url(/test/src/btn.png);
        height: 78px;
        font-size: 0;
        border: none;
        background-size: cover;
        border-radius: 10px;
    }
    .form-control{
        border-radius: unset;
        height: 62px;
    }
    .form-control.notvalid{
        border: 1px solid red;
    }
}
.thanks_text{
    font-size: 44px;
    font-weight: 600;
    img{
        max-width: 100%;
        height: auto;
    }
    p{
        margin: 20px 0;
    }
}

@media (max-width: 1550px){
    .center-text{
        right: -20vw;
    }
}

@media (max-width: 1450px){
    .product-image{
        width: 30%;
    }
    .center-text{
        .yellow-text{
            font-size: 30px;
        }
        .w-big-text{
            font-size: 41px;
        }
        .bottom-text p{
            font-size: 23px;
        }
    }
    .icons-wrapper{
        img{
            width: 20%;
            height: auto;
        }
    }
    .form-wrapper{
        max-width: 342px;
        padding: 87px 15px;
    }
}

@media (max-width: 901px){
    body{
        background: unset;
        background-image: unset;
    }
    .mob{
        background-image: url(/test/src/bg.png);
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 75vw;
        .center-text {
            right: unset;
            left: unset;
            bottom: unset;
            top: unset;
            position: relative;
            padding: 100px 0;
            position: relative;
            width: 70%;
            margin-right: 17px;
        }
    }
    .product-image{
        // top: 11vw;
        // right: unset;
        // bottom: unset;
        // z-index: 2;
        // left: 0;
        display: none;
    }
    .mob_product-image{
        display: block;
        position: absolute;
        bottom: 0;
        img{
            max-width: 100%;
            height: auto;
            width: 30%;
        }
    }
    .form-wrapper .logo{
        display: none;
    }
    .logo.mob{
        display: block;
    max-width: 60%;
    height: auto;
    margin: 0 auto;
        background: none;
    }
    .form-wrapper{
        max-width: unset;
    margin: 0;
    }
    .center-text .w-big-text {
        font-size: calc(6vw + 1px);
    }
    .center-text .yellow-text {
        font-size: calc(5vw + 1px);
    }
    .form-wrapper{
        padding: 40px 15px;
        h2{
            font-weight: 600;
        }
        p{
            font-size: 53px;
            font-weight: 100;
            margin-bottom: 10px;
        }
        div:first-of-type{
            text-align: right;
            margin: 5px 0;
        }
    }
    form input[type=submit]{
        width: 75%;
        margin: 0 auto;
    }
}